<!doctype html>
<title>Language Explorer: Language "{{ iso639_3_code }}"</title>
<h1>Language: {{ iso639_3_code }}</h1>

<h2>Primary Names</h2>
{% for pn_source, pn_name_list in primary_names_dict.items() %}
    <li>{{ pn_source }}:
        {% for pn_name in pn_name_list %}
            {{ pn_name }}
        {% endfor %}</li>
{% endfor %}

<h2>Alternate Names</h2>
{% for an_source, an_name_list in alternate_names_dict.items() %}
    <li>{{ an_source }}:
        {% for an_name in an_name_list %}
            {{ an_name }},
        {% endfor %}</li>
{% endfor %}

<h2>Language Classifications</h2>
{% for cl_source, cl_name_list in classification_dict.items() %}
    <li>{{ cl_source }}:
        {% for cl_name in cl_name_list %}
            {{ cl_name }},
        {% endfor %}</li>
{% endfor %}

<h2>External links</h2>
<ul>
  <li><a href="http://www.ethnologue.com/language/{{ iso639_3_code }}">Ethnologue</a></li>
  <li><a href="http://www.language-archives.org/language/{{ iso639_3_code }}">OLAC</a></li>
  <li><a href="http://www.sil.org/iso639-3/documentation.asp?id={{ iso639_3_code }}">SIL</a></li>
  <li><a href="http://multitree.org/codes/{{ iso639_3_code }}">Multitree</a></li>
  <li><form name="lang_code" action="http://www.joshuaproject.net/languages.php" method="post" style="display:inline;">
    <input type="hidden" name="rol3" value="{{ iso639_3_code }}"><input type="submit" value="Joshua Project" name="submit"/></form></li>
  <li>WALS: {%  for wals_key in wals_keys %}
      <a href="http://wals.info/languoid/lect/wals_code_{{ wals_key }}">{{ wals_key }}</a>
      {% endfor %}
  </li>
</ul>
