{% extends "layout.html" %}
{% block title %}Investigations{% endblock %}
{% include "legend.html" %}
{% block content %}
<h2>Possible scripture applicability by language common name</h2>
    <ul>
        {% for sabn_item, sabn_common_name_list in sabn_info %}
            <li>{% for iso in sabn_item %}
                <a href="/language/iso/{{ iso }}">{{  lp.format_iso(iso)|safe }}</a>
            {% endfor %} (Names in common: {{ ", ".join(sabn_common_name_list) }})</li>
        {% endfor %}
    </ul>
<h3>Notes</h3>
<ul>
  <li>gbc & wrk: gbc code retired and split into wrk and wny</li>
  <li>vku & yij: ?</li>
  <li>bvr & dhg: ?</li>
  <li>duj & gnn: ?</li>
  <li>bvr & gge: ?  (note recurrance of bvr)</li>
  <li>aer & are: ?</li>
  <li>unp & wro: unp code retired and split into wro and xgu</li>
</ul>
<h2>Same Name, Different ISO</h2>
The following iso keys are known by the same name/alias
<ul>
{% for sndi_item, sndi_common_name_list in sndi_info %}
    <li>{% for iso in sndi_item %}
        <a href="/language/iso/{{ iso }}">{{  lp.format_iso(iso)|safe }}</a>
        {% endfor %} (Names in common: {{ ", ".join(sndi_common_name_list) }})</li>
{% endfor %}
</ul>
{% endblock %}
