{% extends "layout.html" %}
{% block title %}Investigations{% endblock %}
{% include "legend.html" %}
{% block content %}
<h2>Possible scripture applicability by language common name</h2>
    Languages with a common name where at least one has some scripture
    <ul>
        {% for sabn_item, sabn_common_name_list in sabn_info %}
            <li>{% for iso in sabn_item %}
                {{ macros.format_iso_as_href(iso) }}
            {% endfor %} (Names in common: {{ ", ".join(sabn_common_name_list) }})</li>
        {% endfor %}
    </ul>
<h3>Notes</h3>
<ul>
  <li>kdd & pjt: related. kdd speakers also use pjt</li>
  <li>gbc & wrk: gbc code retired and split into wrk and wny</li>
  <li>vku & yij: both classified as coastal ngayarda</li>
  <li>bvr & dhg: classified differently (burraran vs yolŋu), but most speakers share a common L2</li>
  <li>gnn & guf: both classified as yolŋu-dhuwal</li>
  <li>gup & wlg: same classification (Ethn says wlg ethnic members generally speak gup) </li>
  <li>duj & gnn: both classified as yolŋu-dhuwal</li>
  <li>bvr & gge: same classification</li>
  <li>aer & are: same classification</li>
  <li>unp & wro: unp code retired and split into wro and xgu</li>
</ul>

<h2>Arnhem Land Aboriginal Partnership</h2>
<a href="http://www.theseedcompany.org/project/arnhem-land-aboriginal-partnership">ALAP</a>
<ul>
  <li>Halwangu {{ macros.format_iso_as_href("dax") }}</li>
  <li>Dhuwaya {{ macros.format_iso_as_href("duj") }}</li>
  <li>Ganalbinu {{ macros.format_iso_as_href("djb") }}</li>
  <li>Kuninjku {{ macros.format_iso_as_href("gup") }}</li>
  <li>Gupapuyngu {{ macros.format_iso_as_href("guf") }}</li>
  <li>Maung {{ macros.format_iso_as_href("mph") }}</li>
  <li>Warramiri {{ macros.format_iso_as_href("dhg") }}</li>
  <li>Wangurri {{ macros.format_iso_as_href("dhg") }}</li>
  <li>Golumala {{ macros.format_iso_as_href("dhg") }}</li>
</ul>
<h2>Census Ambiguity List</h2>
List of languages where the Census name matches more than one language
    i.e. the census name cannot be unambiguously mapped to a language
<ul>
{% for census_name, matching_iso_list in ca_info %}
    <li>Census name: "{{ census_name }}" - Matching ISOs: {% for iso in matching_iso_list %}
        {{ macros.format_iso_as_href(iso) }}
    {% endfor %}</li>
{% endfor %}
</ul>
<h2>Same Name, Different ISO</h2>
The following iso keys are known by the same name/alias
<ul>
{% for sndi_item, sndi_common_name_list in sndi_info %}
    <li>{% for iso in sndi_item %}
        {{ macros.format_iso_as_href(iso) }}
        {% endfor %} (Names in common: {{ ", ".join(sndi_common_name_list) }})</li>
{% endfor %}
</ul>
{% endblock %}
