{% extends "layout.html" %}
{% block title %}Investigations{% endblock %}
{% include "legend.html" %}
{% block content %}
<h2>Same Name, Different ISO</h2>
The following iso keys are known by the same name/alias
<ul>
{% for sndi_item, sndi_common_name_list in sndi_info %}
    <li>{% for iso in sndi_item %}
        <a href="/language/iso/{{ iso }}">{{  lp.format_iso(iso)|safe }}</a>
        {% endfor %} (Names in common: {{ ", ".join(sndi_common_name_list) }})</li>
{% endfor %}
</ul>
{% endblock %}
