<div id="legend">
<h4>Legend</h4>
    <!-- Use constants.translation_abbrev_name_dict[#] or lp.constants.  ?? -->
    <div id="legend_translation_state">
        Translation State: <span class="scripture_wb">Whole Bible</span>
        <span class="scripture_nt">New Testament</span>
        <span class="scripture_portions">Portions</span>
        <span class="scripture_book">One book</span>
        <span class="scripture_none">No Scripture</span>
        <span class="scripture_record_absent">Record Absent</span>
        <span class="scripture_wb">Whole Bible</span>
    </div>
    <div id="legend_population">
        Population:
    </div>
</div>