<div id="legend">
<h4>Legend</h4>
    <!-- Use constants.translation_abbrev_name_dict[#] or lp.constants.  ?? -->
    <div id="legend_translation_state">
        Translation State: <span class="scripture_wb">Whole Bible</span>
        <span class="scripture_nt">New Testament</span>
        <span class="scripture_portions">Portions</span>
        <span class="scripture_book">One book</span>
        <span class="scripture_none">No Scripture</span>
        <span class="scripture_record_absent">Record Absent</span>
    </div>
    <div id="legend_l1_speakers">
        L1 Speakers: <span class="speakers_none">None</span>
        <span class="speakers_few">0-9</span>
        <span class="speakers_some">10-99</span>
        <span class="speakers_many">100+</span>
        <span class="speakers_unknown">Unknown</span>
    </div>
</div>