{% extends "layout.html" %}
{% block title %}Language "{{ iso639_3_code }}"{% endblock %}
{% block content %}
<h1>Language: {{ iso639_3_code }}</h1>

<h2>Primary Names</h2>
<ul>
{% for pn_source, pn_name_list in primary_names_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[pn_source] }}:
        {% for pn_name in pn_name_list %}
            {{ pn_name }}
        {% endfor %}</li>
{% else %}
    No primary names
{% endfor %}
</ul>

<h2>Alternate Names</h2>
<ul>
{% for an_source, an_name_list in alternate_names_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[an_source] }}:
        {% for an_name in an_name_list %}
            {{ an_name }},
        {% endfor %}</li>
{% else %}
    No alternative names
{% endfor %}
</ul>

<h2>Dialect Names</h2>
<ul>
{% for di_source, di_name_list in dialect_names_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[di_source] }}:
        {% for di_name in di_name_list %}
            {{ di_name }},
        {% endfor %}</li>
 {% else %}
    No dialect names
{% endfor %}
</ul>

<h2>Number of L1 Speakers</h2>
Ethnologue: {{ eth_L1_count }}

<h2>Could study English Bible</h2>
<ul>
<li>Pessimistic: {{ english_competency_pessimistic }}%  (only those with "very good" spoken english)</li>
<li>Optimistic: {{ english_competency_optimistic }}%  (only those with "very good" or "good" spoken english)</li>
</ul>

<h2>Language Classifications</h2>
<ul>
{% for cl_source, cl_name_list in classification_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[cl_source] }}:
        {% for cl_name in cl_name_list %}
            {{ cl_name }},
        {% endfor %}</li>
{% else %}
    No language classifications
{% endfor %}
</ul>

<h2>Relationships</h2>
<ul>
{% for rel_source, rel_verb, object_iso in rel_list %}
    <li>{{ constants.relationship_abbrev_name_dict[rel_verb] }}
        {{ macros.format_iso_as_href(object_iso) }}
        (relationship from {{ constants.source_abbrev_name_dict[rel_source] }})</li>
{% else %}
    No relationships
{% endfor %}
</ul>

<h2>Writing</h2>
Ethnologue: {{ constants.writing_state_abbrev_dict[writing_state] }}


<h2>Bible Translations</h2>
<ul>
{% for tr_source, tr_type_year_tuple_list in translation_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[tr_source] }}:
        {% for tr_status, tr_year in tr_type_year_tuple_list %}
            {{ constants.translation_abbrev_name_dict[tr_status|int] }}
            {% if tr_year != -1 %}
                ({{ tr_year }})
            {% endif %},
        {% endfor %}</li>
{% else %}
    No translation information
{% endfor %}
</ul>

<hr>

<h2>External links</h2>
<ul>
  <li><a href="http://www.ethnologue.com/language/{{ iso639_3_code }}">Ethnologue</a></li>
  <li><a href="http://www.language-archives.org/language/{{ iso639_3_code }}">OLAC</a></li>
  <li><a href="http://www.sil.org/iso639-3/documentation.asp?id={{ iso639_3_code }}">SIL</a></li>
  <li><a href="http://208.72.3.146/find_a_bible/default.aspx?Language={{ iso639_3_code }}">Find A Bible</a></li>
  <li><a href="http://worldbibles.org/language_detail.php/eng/{{ iso639_3_code }}/{{ lp.get_primary_name_for_display(iso639_3_code) }}">World Bibles</a></li>
  <li><a href="http://multitree.org/codes/{{ iso639_3_code }}">Multitree</a></li>
  <li><a href="http://en.wikipedia.org/wiki/ISO_639:{{ iso639_3_code }}">Wikipedia</a></li>
  <li><form name="lang_code" action="http://www.joshuaproject.net/languages.php" method="post" style="display:inline;">
    <input type="hidden" name="rol3" value="{{ iso639_3_code }}"><input type="submit" value="Joshua Project" name="submit"/></form></li>
  <li>WALS: {%  for wals_key in wals_keys %}
      <a href="http://wals.info/languoid/lect/wals_code_{{ wals_key }}">{{ wals_key }}</a>
      {% endfor %}
  </li>
</ul>
{% endblock %}
