{% extends "layout.html" %}
{% block title %}Language "{{ iso639_3_code }}"{% endblock %}
{% block content %}
<h1>Language: {{ iso639_3_code }}</h1>

<h2>Primary Names</h2>
<ul>
{% for pn_source, pn_name_list in primary_names_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[pn_source] }}:
        {% for pn_name in pn_name_list %}
            {{ pn_name }}
        {% endfor %}</li>
{% else %}
    No primary names
{% endfor %}
</ul>

<h2>Alternate Names</h2>
<ul>
{% for an_source, an_name_list in alternate_names_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[an_source] }}:
        {% for an_name in an_name_list %}
            {{ an_name }},
        {% endfor %}</li>
{% else %}
    No alternative names
{% endfor %}
</ul>

<h2>Dialect Names</h2>
<ul>
{% for di_source, di_name_list in dialect_names_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[di_source] }}:
        {% for di_name in di_name_list %}
            {{ di_name }},
        {% endfor %}</li>
 {% else %}
    No dialect names
{% endfor %}
</ul>

<h2>Number of L1 Speakers</h2>
<ul>
    <li>Joshua Project: {{ lp.format_speaker_count(jp_L1_count) }}</li>
    <li>Census (2011): {{ lp.format_speaker_count(census_L1_count) }}</li>
</ul>

<h2>Could study English Bible</h2>
<ul>
<li>{{ lp.format_ebu_percentage(english_competency_pessimistic) }} (only those with "very good" spoken english per census)</li>
<li>Count of those who cannot read english: {{ cannot_read_english_count }}</li>
</ul>

<h2>Language Classifications</h2>
<ul>
{% for cl_source, cl_name_list in classification_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[cl_source] }}:
        {% for cl_name in cl_name_list %}
            {{ cl_name }},
        {% endfor %}</li>
{% else %}
    No language classifications
{% endfor %}
</ul>

<h2>Relationships</h2>
<ul>
{% for rel_source, rel_verb, object_iso in rel_list %}
    <li>{{ constants.relationship_abbrev_name_dict[rel_verb] }}
        {{ macros.format_iso_as_href(object_iso) }}
        (relationship from {{ constants.source_abbrev_name_dict[rel_source] }})</li>
{% else %}
    No relationships
{% endfor %}
</ul>

<h2>Bible Translations</h2>
<ul>
{% for tr_source, tr_type_year_tuple_list in translation_dict.items() %}
    <li>{{ constants.source_abbrev_name_dict[tr_source] }}:
        {% for tr_status, tr_year in tr_type_year_tuple_list %}
            {{ constants.translation_abbrev_name_dict[tr_status|int] }}
            {% if tr_year != -1 %}
                ({{ tr_year }})
            {% endif %},
        {% endfor %}</li>
{% else %}
    No translation information
{% endfor %}
</ul>

<h2>Location</h2>
{# XXX how is this impacted by float approx equals? #}
{# include mapping elements, but only if we're going to use them
   we include the scripting at the bottom of the page, for rendering performance
#}
{% if lat != constants.LATITUDE_UNKNOWN
	or lon != constants.LONGITUDE_UNKNOWN
	or tindale_lat != constants.LATITUDE_UNKNOWN
	or tindale_lon != constants.LONGITUDE_UNKNOWN %}
  <svg>
    <g id="art" />
  </svg>
{% endif %}
<p>
{% if lat == constants.LATITUDE_UNKNOWN or lon == constants.LONGITUDE_UNKNOWN %}
WALS Latitude, Longitude: N/A
{% else %}
<span style="background-color: steelblue">&nbsp;&nbsp;</span>
WALS Latitude: {{ "%.2f"|format(lat) }} Longitude: {{ "%.2f"|format(lon) }}
{% endif %}
<br>
{% if tindale_lat == constants.LATITUDE_UNKNOWN or
	tindale_lon == constants.LONGITUDE_UNKNOWN %}
Tindale Latitude, Longitude: N/A
{% else %}
<span style="background-color: red">&nbsp;&nbsp;</span>
Tindale Latitude: {{ "%.2f"|format(tindale_lat) }}
Longitude: {{ "%.2f"|format(tindale_lon) }}
{% endif %}
</p>
<hr>

<h2>External links</h2>
<ul>
  <li><a href="http://www.ethnologue.com/language/{{ iso639_3_code }}">Ethnologue</a></li>
  <li><a href="http://www.language-archives.org/language/{{ iso639_3_code }}">OLAC</a></li>
  <li><a href="http://www.sil.org/iso639-3/documentation.asp?id={{ iso639_3_code }}">SIL</a></li>
  <li><a href="http://208.72.3.146/find_a_bible/default.aspx?Language={{ iso639_3_code }}">Find A Bible</a></li>
  <li><a href="http://worldbibles.org/language_detail.php/eng/{{ iso639_3_code }}/{{ lp.get_primary_name_for_display(iso639_3_code) }}">World Bibles</a></li>
  <li><a href="http://new.multitree.org/search?names=&codes={{ iso639_3_code }}&author=&year=">Multitree</a></li>
  <li><a href="http://en.wikipedia.org/wiki/ISO_639:{{ iso639_3_code }}">Wikipedia</a></li>
  <li><form name="lang_code" action="https://legacy.joshuaproject.net/languages.php" method="post" style="display:inline;">
    <input type="hidden" name="rol3" value="{{ iso639_3_code }}"><input type="submit" value="Joshua Project" name="submit"/></form></li>
  <li>WALS: {%  for wals_key in wals_keys %}
      <a href="http://wals.info/languoid/lect/wals_code_{{ wals_key }}">{{ wals_key }}</a>
      {% endfor %}
  </li>
  <li>AUSTLANG: {%  for austlang_key, austlang_label in austlang_refs %}
      <a href="http://austlang.aiatsis.gov.au/php/public/language_profile_all.php?id={{ austlang_key }}">{{ austlang_label }}</a>
      {% endfor %}
</ul>

{# include mapping, if we're going to use it #}
{% if lat != constants.LATITUDE_UNKNOWN
	or lon != constants.LONGITUDE_UNKNOWN
	or tindale_lat != constants.LATITUDE_UNKNOWN
	or tindale_lon != constants.LONGITUDE_UNKNOWN %}
  {% include "map.tmpl" %}
{% endif %}
{% endblock %}
