{% extends "layout.html" %}
{% block title %}Language Table{% endblock %}
{% include "legend.html" %}
{% block head_js %}
   		<script type="text/javascript" src="http://localhost/DataTables-1.9.4/media/js/jquery.js"/>
		<script type="text/javascript" src="http://localhost/DataTables-1.9.4/media/js/jquery.dataTables.js"/>
		<script type="text/javascript">
			$(document).ready( function() {
				$('#datatable_table').dataTable();
			} );
		</script>
{% endblock %}
{% block content %}
<h1>Language Table</h1>

<table class="bordered_table" id="datatable_table">
  <tr>
    <th>ISO</th>
    <th>L1 Speaker Count</th>
    <th>Translation State</th>
    <th>Related ISOs with Bible</th>
  </tr>
{% for iso, speaker_count, tr_status, related_list in table_data %}
    <tr>
      <td class="bordered_td">{{ macros.format_iso_as_href(iso) }}</td>
      <td class="bordered_td">{{ speaker_count }}</td>
      <td class="bordered_td">{{ constants.translation_abbrev_name_dict[tr_status|int] }}</td>
      <td class="bordered_td">
        <ul>
          {% for rel_source, rel_verb, object_iso in related_list %}
            <li>{{ constants.relationship_abbrev_name_dict[rel_verb] }}
            {{ macros.format_iso_as_href(object_iso) }}
            (relationship from {{ constants.source_abbrev_name_dict[rel_source] }})
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
{% endfor %}
</table>
{% endblock %}