{% extends "layout.html" %}
{% block title %}Language Table{% endblock %}
{% include "legend.html" %}
{% block head_js %}
    <style type="text/css">
      .dataTables_filter { display: none; }
    </style>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='DataTables-1.10.9/css/jquery.dataTables.min.css') }}">
<h1>Language Table</h1>

<table class="bordered_table" id="datatable_table">
  <thead>
      <tr>
          <th><label>
              <input type="text" name="search_ISO" value="Search ISO"
                     class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_Speakers_eth" value="Search Speakers (Ethnologue)"
                     class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_Speakers_census" value="Search Speakers (Census 2011)"
                     class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_Translations"
                     value="Search Translations" class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_WrittenState"
                     value="Search Written State" class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_PotentialEnglishBibleUsersPess"
                     value="Search Potential English Bible Users Pess" class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_PotentialEnglishBibleUsersOptim"
                     value="Search Potential English Bible Users Optim" class="search_init"/>
          </label></th>
          <th><label>
              <input type="text" name="search_Related" value="Search Related"
                     class="search_init"/>
          </label></th>
      </tr>
      <tr>
        <th>ISO</th>
        <th>Speakers (Ethnologue)</th>
        <th>Speakers (Census 2011)</th>
        <th>Translations</th>
        <th>Written State</th>
        <th>Potential English Bible Users (Pessimistic)</th>
        <th>Potential English Bible Users (Optimistic)</th>
        <th>Related ISOs with Bible</th>
      </tr>
  </thead>
  <tbody>
{% for iso, speaker_count_eth, speaker_count_census, tr_status, written_state, ecp, eco, related_list in table_data %}
    <tr>
      <td class="bordered_td">{{ macros.format_iso_as_href(iso) }}</td>
      <td class="bordered_td">{{ lp.format_speaker_count(speaker_count_eth) }}</td>
      <td class="bordered_td">{{ lp.format_speaker_count(speaker_count_census) }}</td>
      <td class="bordered_td">{{ constants.translation_abbrev_name_dict[tr_status|int] }}</td>
      <td class="bordered_td">{{ constants.writing_state_abbrev_dict[written_state] }}</td>
      <td class="bordered_td">{{ lp.format_ebu_percentage(ecp) }}</td>
      <td class="bordered_td">{{ lp.format_ebu_percentage(eco) }}</td>
      <td class="bordered_td">
        {% if related_list %}
            <ul>
              {% for rel_source, rel_verb, object_iso in related_list %}
                <li>{{ constants.relationship_abbrev_name_dict[rel_verb] }}
                {{ macros.format_iso_as_href(object_iso) }}
                (relationship from {{ constants.source_abbrev_name_dict[rel_source] }})
                </li>
              {% endfor %}
            </ul>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<script type="text/javascript" src="{{  url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{  url_for('static', filename='DataTables-1.10.9/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript">
    var asInitVals = [];
    $(document).ready( function() {
        var oTable = $('#datatable_table').dataTable( {
            "bPaginate": false,
            "bSortClasses": true,
            "oLanguage": {
                "sSearch": "Search all columns:"
            }
        } );

        var thi = $("thead input");
        thi.keyup( function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter( this.value, $("thead input").index(this), true );
        } );

        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        thi.each( function (i) {
            asInitVals[i] = this.value;
        } );

        thi.focus( function () {
            if ( this.className == "search_init" )
            {
                this.className = "";
                this.value = "";
            }
        } );

        thi.blur(function () {
            if ( this.value == "" )
            {
                this.className = "search_init";
                this.value = asInitVals[$("thead input").index(this)];
            }
        } );
    } );
</script>
{% endblock %}